<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

    <%- include('../include/head'); %>


<body class=" sidebar_main_open sidebar_main_swipe md-bg-grey-500">
    <!-- main header -->
    <%- include('../include_Admin/header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('../include_admin/sidebar_switch'); %>
    <!-- main sidebar end -->

<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-8-10 uk-row-first">
                      <h3 class="heading_b uk-margin-bottom"> <%= pageTitle%> </h3>
                </div>
                <div class="uk-width-medium-2-10">
                      <a class="md-btn" href="/admin/artikel/add">
                          Tambah <%= pageTitle%>
                      </a>


                </div>
            </div>
        <% if (path === '/artikel') {%>
              <div class="md-card uk-margin-medium-bottom">
                  <div class="md-card-content">
                      <table id="dt_default" class="uk-table" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                  <th rowspan="2">ID</th>
                                  <!-- <th colspan="5">HR Information</th> -->
                              </tr>
                              <tr>
                                  <th>Judul</th>
                                  <th>Konten</th>
                                  <th>Pembuat</th>
                                  <th style="width: 30%;" >Foto Artikel</th>
                                  <th>Aksi</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% articles.forEach((article) => { %>
                          <tr>
                            <td><%= article.id%></td>
                              <td><%= article.judul%></td>
                              <td><%= article.konten%></td>
                              <td><%= article.pembuat%></td>
                              <td> <img src="/<%= article.foto_Artikel%>" alt=""> </td>
                              <td>
                                <form class="" action="/admin/artikel/edit %>" method="get">
                                  <input type="hidden" value="<%= article.id %>" name="update">
                                  <button id="edit" type="submit" class="btn edit" ><i class="material-icons md-24"></i></button>
                                </form>

                                  <form onsubmit="return confirm('Are you sure?');" action="/admin/artikel/delete-artikel" method="POST">
                                      <input type="hidden" value="<%= article.id %>" name="artikelId">
                                      <button id="delete" type="submit" class="btn delete" ><i class="material-icons md-24"></i></button>
                                  </form>
                              </td>
                          </tr>
                            <% }) %>
                          </tbody>
                      </table>
                  </div>
              </div>
                      <% } %>




    </div>
</div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <%- include('../include_admin/datatables'); %>
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });
    </script>


</body>
</html>
