<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

    <%- include('../include/head'); %>

<body class=" sidebar_main_open sidebar_main_swipe md-bg-grey-500">
    <!-- main header -->
    <%- include('../include_Admin/header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('../include_admin/sidebar_switch'); %>
    <!-- main sidebar end -->

<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-8-10 uk-row-first">
                      <h3 class="heading_b uk-margin-bottom"> <%= jenis %> <%= pageTitle%> </h3>
                </div>
        </div>

        <div class="md-card">
        <form action="/admin/artikel/add" method="post">
            <div class="md-card-content">
                <!-- <h3 class="heading_a"><%= pageTitle%></h3> -->
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium">
                        <div class="uk-form-row">
                            <div class="uk-grid">
                                <!-- <div class="uk-width-medium-1-2">
                                    <label>NIK</label>
                                    <input id='nik' name='nik' type="text" class="md-input" />
                                </div> -->

                                <div class="uk-width-medium-1-2">
                                    <label>Judul</label>
                                    <input id='judul' name='judul' type="text" class="md-input" />
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <label>Pembuat</label>
                                    <input id='pembuat' name= 'pembuat' type="text" class="md-input"  />
                                </div>
                            </div>


                        </div>
                        <div class="uk-form-row">
                          <div class="uk-grid">
                              <div class="uk-width-medium-1">
                                  <label>Konten</label>
                                  <!-- <input id='konten' name= 'konten' type="text" class="md-input"  /> -->
                                  <textarea val="" name="konten" id="konten" class="md-input "></textarea>
                              </div>

                          </div>
                        </div>

                        <div class="uk-form-row">
                          <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                              <label>Foto artikel</label>
                              <div class="md-card">
                                  <div class="md-card-content">
                                      <input type="file" name="image" id="input-file-a" class="dropify" />
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1">
                        <div class="uk-input-group">
                            <!-- <span class="uk-input-group-addon"><a class="md-btn" type="submit" >Save</a></span> -->
                            <!-- <button type="submit" name="button">Save</button> -->
                                <button class="md-btn" type="submit" name="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>





    </div>
</div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- ckeditor -->
    <script src="/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/bower_components/ckeditor/adapters/jquery.js"></script>

    <!--  wysiwyg editors functions -->
    <script src="/assets/js/pages/forms_wysiwyg.min.js"></script>
    <script src="/assets/js/pages/forms_file_input.min.js"></script>
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>


    <%- include('../include_admin/datatables'); %>
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });
    </script>


</body>
</html>
