<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>
</head>


<body class=" sidebar_main_open sidebar_main_swipe md-bg-grey-200">
    <!-- main header -->
    <%- include('header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('sidebar_switch'); %>
    <!-- main sidebar end -->

<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-8-10 uk-row-first">
                      <h3 class="heading_b uk-margin-bottom"> <%= pageTitle%> </h3>
                </div>
                <div class="uk-width-medium-2-10">
                      <a class="md-btn" href="/admin/artikel/add">
                          Tambah <%= pageTitle%>
                      </a>
                </div>
        </div>
        <% if (path === '/artikel') {%>
              <div class="md-card uk-margin-medium-bottom">
                  <div class="md-card-content">
                    <% if (success_messages) { %>
                        <div class="uk-alert uk-alert-success" data-uk-alert>
                            <a href="#" class="uk-alert-close uk-close"></a>
                            <%= success_messages %>
                        </div>
                    <% } %>

                    <div class="uk-overflow-auto">
                      <table id="dt_default" class="uk-table uk-table-small uk-table-divider" style="word-wrap: break-word;width:100%">

                        <!-- <colgroup>
                             <col span="1" style="width: 5%;">
                             <col span="1" style="width: 5%;">
                             <col span="1" style="width: 15%;">
                             <col span="1" style="width: 15%;">
                             <col span="1" style="width: 5%;">
                          </colgroup> -->
                          <thead>
                              <tr>
                                  <th rowspan="2">ID</th>
                                  <!-- <th colspan="5">HR Information</th> -->
                              </tr>
                              <tr>
                                  <th width="10%">Judul</th>
                                  <th>Konten</th>
                                  <th>Pembuat</th>
                                  <th>Foto</th>
                                  <th>Aksi</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% articles.forEach((article) => { %>
                          <tr>
                              <td><%= article.id%></td>
                              <td class="" > <span style="overflow-warp:break-word"><%= article.judul%></span></td>
                              <td class="">
                                <div style='width:200px' class="uk-text-truncate" >
                                  <%= article.konten%>
                                </div>
                              </td>
                              <td><%= article.pembuat%></td>
                              <td> <img class="img_thumb" src="/<%= article.foto_Artikel%>" alt=""> </td>
                              <td>
                                <div class="uk-grid uk-grid-collapse uk-margin-remove">

                                  <div class="">
                                    <form class="" action="/admin/artikel/edit %>" method="get">
                                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                      <input type="hidden" value="<%= article.id %>" name="update">
                                      <button id="edit" type="submit" class="md-btn md-btn-small edit" ><i class="material-icons md-24">mode_edit</button>
                                    </form>

                                  </div>

                                  <div class="">
                                    <form onsubmit="return confirm('Are you sure?');" action="/admin/artikel/delete-artikel" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= article.id %>" name="artikelId">
                                        <button id="delete" type="submit" class="md-btn md-btn-small delete" ><i class="material-icons md-24">delete</i></button>
                                    </form>
                                  </div>
                                </div>
                              </td>
                          </tr>
                            <% }) %>
                          </tbody>

                    </div>

                  </div>
              </div>
                      <% } %>




    </div>
</div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <%- include('../include_admin/datatables'); %>
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });
    </script>


</body>
</html>
