<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

    <%- include('../include/head'); %>


<body class=" sidebar_main_open sidebar_main_swipe md-bg-grey-500">
    <!-- main header -->
    <%- include('../include_Admin/header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('../include_admin/sidebar_switch'); %>
    <!-- main sidebar end -->

<div id="page_content">
    <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-6-10 uk-row-first">
                      <h3 class="heading_b uk-margin-bottom"> <%= pageTitle%> </h3>
                </div>
                <div class="uk-width-medium-2-10">
                      <a class="md-btn" data-uk-modal="{target:'#modal_header_footer'}">
                          import excel
                      </a>
                </div>
                <div class="uk-width-medium-2-10">
                      <a class="md-btn" href="/admin/jadwalpiket/add">
                          Tambah 1 <%= pageTitle%>
                      </a>
                </div>
            </div>

            <div class="uk-width-medium-1-3">
              <div class="uk-modal" id="modal_header_footer" aria-hidden="true" style="display: none; overflow-y: auto;">
                  <div class="uk-modal-dialog" style="top: 164px;">
                      <div class="uk-modal-header">
                          <h3 class="uk-modal-title">Import Excel</h3>
                      </div>
                      <form class="" action="/admin/jadwalpiket/import" method="post" enctype="multipart/form-data">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <div class="uk-form-file md-btn md-btn-primary">
                                    Select
                                    <input name="excel" id="form-file" type="file" required>
                                </div>
                                File hanya mendukung .xlsx dan .csv
                                <!-- <div class="uk-form-file uk-text-primary"> <a href="/admin/jadwalpiket/contohinput" target="_blank" rel="noopener noreferrer">Contoh Input</a> </div>. -->
                                <div class="uk-form-file uk-text-primary"> <a href="/excel/Jadwal Piket dummy.xlsx" download >Contoh Input</a> </div>.

                            </div>
                          </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                            <button type="submit" class="md-btn md-btn-flat md-btn-flat-primary">Import</button>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        </div>
                      </form>
                  </div>
              </div>
          </div>

            <% if (path === '/jadwalpiket') {%>
                  <div class="md-card uk-margin-medium-bottom">
                      <div class="md-card-content">
                          <table id="dt_default" class="uk-table" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th rowspan="2">Tanggal Piket</th>
                                  </tr>
                                  <tr>
                                      <th>Nama PIC</th>
                                      <th>Nama Fasil</th>
                                      <th>Level</th>
                                      <th>Persetujuan Fasil</th>
                                      <th>Status Piket</th>
                                      <th>Rekam check</th>

                                      <th>Aksi</th>
                                  </tr>
                              </thead>

                              <tbody>
                                <% schedules.forEach((schedule) => { %>
                              <tr>
                                  <td><%= schedule.tanggal%></td>
                                  <td><%= schedule.nik_pic_piket.nama%></td>
                                  <td><%= schedule.nik_pic_fasil.nama%></td>
                                  <td><%= schedule.nik_pic_piket.level%></td>

                                <% if (schedule.persetujuan_fasil === 0) { %>
                                  <td> <i href="#" class="uk-icon-large uk-icon-times-circle uk-text-danger"><span hidden> 2</span></i></td>
                                <% } else { %>
                                  <td> <i href="#" class="uk-icon-large uk-icon-check-circle uk-text-success"> <span hidden> 1</span> </i></td>
                                <% } %>

                                <% if (schedule.status_piket === 0) { %>
                                  <td><span class="uk-badge uk-badge-danger">Belum Piket</span></td>
                                  <td>Belum Piket</td>
                                  <% } else if (schedule.status_piket === 1) { %>
                                  <td><span class="uk-badge uk-badge-success">Sudah Piket</span></td>
                                  <td><%= schedule.rekam_check%> </td>

                                <% } else { %>
                                  <td>Sudah Piket tapi Melewati Jadwal</td>
                                  <td ><%= schedule.rekam_check%> </td>
                                <% } %>


                                  <td>
                                      <button  href="javascript:void(0);" class="btn edit" data-id="<%= schedule.id %>" data-tanggal="<%=  schedule.tanggal %>" data-pic="<%=  schedule.nik_pic_piket.nik%>" data-fasil="<%= schedule.nik_pic_fasil.nik%>" data-level="<%= schedule.nik_pic_piket.level %>" data-persetujuan="<%= schedule.persetujuan_fasil %>" ><i class="material-icons md-24"></i></button>
                                      <form onsubmit="return confirm('Are you sure?');" action="/admin/jadwalpiket/delete-jadwalpiket" method="POST">
                                          <input type="hidden" value="<%= schedule.id %>" name="penggunaId">
                                          <button id="delete" type="submit" class="btn delete" ><i class="material-icons md-24"></i></button>
                                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                      </form>
                                  </td>
                              </tr>
                                <% }) %>
                              </tbody>
                          </table>
                      </div>
                  </div>
                          <% } %>

              <!-- modal tambah -->
              <div class="uk-modal" id="modal_header_footer">
                  <div class="uk-modal-dialog">
                      <div class="uk-modal-header">
                          <h3 class="uk-modal-title">Tambah <%= pageTitle%></h3>
                      </div>
                      <form action="/admin/checklistruang" method="post">
                          <div class="md-card-content">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium">
                                      <div class="uk-form-row">
                                          <div class="uk-grid">
                                              <div class="uk-width-medium-1-3">
                                                  <label>Nama Ruang</label>
                                                  <input id='nama_ruang' name='nama_ruang' type="text" class="md-input" required/>
                                              </div>
                                              <div class="uk-width-medium-1-3">
                                                  <label>Level</label>
                                                  <input id='level' name= 'level' type="number" class="md-input" required />
                                              </div>
                                              <div class="uk-width-medium-1-3">
                                                  <label>Poin Ruang</label>
                                                  <input id='poin_ruang' name='poin_ruang' type="number" class="md-input" required />
                                              </div>

                                          </div>
                                      </div>
                                      <div class="uk-form-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label>Standar</label>
                                                <input id='standar' name= 'standar' type="text" class="md-input" required />
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>PIC Ruang</label>
                                                <select name='pic_ruang' id='pic_ruang' class="md-input label-fixed" required >
                                                    <option value="">PIC Ruang... </option>
                                                    <% users.forEach((user) => { %>
                                                       <option value="<%= user.nik %>"><%= user.nik %> - <%= user.nama %> - level <%= user.level %></option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                      </div>

                                  </div>
                              </div>
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1">
                                      <div class="uk-input-group">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <div class="uk-modal-footer uk-text-right">
                          <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                          <button type="submit" class="md-btn md-btn-flat md-btn-flat-primary">Save</button>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                      </div>
                  </form>
                  </div>
              </div>

              <!-- modal edit -->
              <div class="uk-modal" id="modal_header_footeredit">
                  <div class="uk-modal-dialog">
                      <div class="uk-modal-header">
                          <h3 class="uk-modal-title">Edit <%= pageTitle%></h3>
                      </div>
                      <form action="/admin/jadwalpiket/edit" method="post">
                          <div class="md-card-content">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium">
                                      <div class="uk-form-row">
                                          <div class="uk-grid">
                                              <div class="uk-width-medium-1">
                                                  <label>Tanggal</label>
                                                  <div class="uk-input-group">
                                                      <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                      <!-- <label for="uk_dp_1  label-fixed">Pilih Tanggal Piket</label>
                                                      <input name="tanggal_edit" class="md-input tanggal_edit label-fixed " type="text" id="uk_dp_1" data-uk-datepicker="{format:'YYYY-MM-DD'}"> -->
                                                      <div class="uk-width-medium-1-2">
                                                          <!-- <label for="masked_date">Date</label> -->
                                                          <input name="tanggal_edit" class="md-input masked_input" id="masked_date" type="text" data-inputmask="'alias': 'YYYY-MM-DD'" data-inputmask-showmaskonhover="false" />
                                                      </div>
                                                  </div>
                                              </div>


                                          </div>

                                          <div class="uk-grid">

                                              <div class="uk-width-medium-1-2">
                                                  <label>Fasilitator</label>
                                                  <select name='fasil_edit' id='fasil_edit' class="md-input label-fixed" required >
                                                      <option value="">Fasilitator... </option>
                                                      <% users.forEach((user) => { %>
                                                        <% if (  user.peran == 'Fasilitator') { %>
                                                         <option value="<%= user.nik %>"><%= user.nik %> - <%= user.nama %> - level <%= user.level %></option>
                                                         <% } %>
                                                          <% }) %>
                                                  </select>
                                              </div>
                                              <div class="uk-width-medium-1-2">
                                                  <label>PIC Piket</label>
                                                  <select name='pic_edit' id='pic_edit' class="md-input label-fixed" required >
                                                      <option value="">PIC Piket </option>
                                                      <% users.forEach((user) => { %>
                                                        <% if (  user.peran == 'Anggota') { %>
                                                         <option value="<%= user.nik %>"><%= user.nik %> - <%= user.nama %> - level <%= user.level %></option>
                                                         <% } %>

                                                          <% }) %>
                                                  </select>
                                              </div>

                                          </div>
                                      </div>

                                  </div>
                              </div>
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1">
                                      <div class="uk-input-group">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <div class="uk-modal-footer uk-text-right">
                          <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                          <button type="submit" class="md-btn md-btn-flat md-btn-flat-primary">Save</button>
                          <input id='id' name='id' type="hidden" class="md-input label-fixed" />
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                      </div>
                  </form>
                  </div>
              </div>
    </div>
</div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <%- include('../include_admin/datatables'); %>
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
            $('#dt_default').on( 'click', '.edit', function () {
              console.log("masuk sini kah? 1");
                var id = $(this).data('id');
                var tanggal = $(this).data('tanggal');
                var fasil = $(this).data('fasil');
                var pic = $(this).data('pic');

                console.log("masuk sini kah? 2");

                $('.edit').attr('data-uk-modal', "{target:'#modal_header_footeredit'}");
                $('#id').val(id);
                $('#masked_date').val(tanggal);
                $('#fasil_edit').val(fasil);
                $('#pic_edit').val(pic);

            } );
        });
    </script>


</body>
</html>
