<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <%- include('../include/head'); %>
</head>

<body class=" sidebar_main_open sidebar_main_swipe">
    <!-- main header -->
    <%- include('../include_Admin/header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('../include_admin/sidebar_switch'); %>
    <!-- main sidebar end -->

<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-8-10 uk-row-first">
                      <h3 class="heading_b uk-margin-bottom"> <%= pageTitle%> </h3>
                </div>
                <div class="uk-width-medium-2-10">
                      <button class="md-btn" data-uk-modal="{target:'#modal_header_footer'}">Tambah <%= pageTitle%></button>
                </div>
            </div>
        <% if (path === '/pengguna') {%>
              <div class="md-card uk-margin-medium-bottom">
                  <div class="md-card-content">
                      <table id="dt_default" class="uk-table" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                  <th rowspan="2">NIK</th>
                                  <!-- <th colspan="5">HR Information</th> -->
                              </tr>
                              <tr>
                                  <th>Username</th>
                                  <th>Nama</th>
                                  <th>Peran</th>
                                  <!-- <th>Password</th> -->
                                  <th>Poin Meja</th>
                                  <th>Aksi</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% users.forEach((user) => { %>
                          <tr>
                              <td><%= user.nik%></td>
                              <td><%= user.username%></td>
                              <td><%= user.nama%></td>
                              <td><%= user.peran%></td>
                              <!-- <td><%= user.password%></td> -->
                              <td><%= user.poin_meja%></td>
                              <td>
                                  <!-- <a href="javascript:void(0);" class="btn " data-id="<%= user.NIK %>" >Edit</a> -->
                                  <button  href="javascript:void(0);" class="btn edit" data-nik="<%= user.nik %>" data-username= "<%= user.username%>" data-nama="<%= user.nama%>" data-peran="<%= user.peran%>" data-password="<%= user.password%>" data-poinmeja="<%= user.poin_meja%>"><i class="material-icons md-24"></i></button>
                                  <!-- <a  href="javascript:void(0);" class="btn delete" data-nik="<%= user.nik %>"> <i class="material-icons md-24"></i>  </a> -->
                                  <a  class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" href="#">Reset Password</a>
                                  <!-- <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" href="#">Reset Password</a> -->
                                  <form onsubmit="return confirm('Are you sure?');" action="/admin/pengguna/delete-pengguna" method="POST">
                                      <input type="hidden" value="<%= user.nik %>" name="penggunaId">
                                      <button id="delete" type="submit" class="btn delete" ><i class="material-icons md-24"></i></button>
                                  </form>
                              </td>
                          </tr>
                            <% }) %>
                          </tbody>
                      </table>
                  </div>
              </div>
                      <% } %>

              <!-- modal tambah -->
              <div class="uk-modal" id="modal_header_footer">
                  <div class="uk-modal-dialog">
                      <div class="uk-modal-header">
                          <h3 class="uk-modal-title">Tambah <%= pageTitle%></h3>
                      </div>
                      <form action="/admin/pengguna" method="post">
                          <div class="md-card-content">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium">
                                      <div class="uk-form-row">
                                          <div class="uk-grid">
                                              <div class="uk-width-medium-1-2">
                                                  <label>NIK</label>
                                                  <input id='nik' name='nik' type="text" class="md-input" required />
                                              </div>

                                              <div class="uk-width-medium-1-2">
                                                  <label>Nama</label>
                                                  <input id='nama' name='nama' type="text" class="md-input" required/>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="uk-form-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label>Username</label>
                                                <input id='username' name= 'username' type="text" class="md-input" required />
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>Password</label>
                                                <input id='password' name= 'password' type="password" class="md-input" required />
                                            </div>
                                        </div>
                                      </div>

                                      <div class="uk-form-row">
                                        <div class="uk-grid">
                                          <div class="uk-width-medium-1-2">
                                              <!-- <label>Peran</label> -->
                                              <!-- <input id='peran' name='peran' type="text" class="md-input" class="data-md-selectize"  /> -->
                                              <div class="" style="index-z:10;">
                                                <select name='peran' id='peran' class="md-input" required >
                                                    <option value="">Peran... </option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Pengguna">Anggota</option>
                                                    <option value="Fasilitator">Fasilitator</option>
                                                </select>
                                              </div>
                                          </div>

                                          <div class="uk-width-medium-1-2">
                                              <label>Poin Meja</label>
                                              <input id='poin_meja' name='poin_meja' type="number" class="md-input" required />
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1">
                                      <div class="uk-input-group">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <div class="uk-modal-footer uk-text-right">
                          <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="submit" class="md-btn md-btn-flat md-btn-flat-primary">Save</button>
                      </div>
                  </form>
                  </div>
              </div>

              <!-- modal edit -->
              <div class="uk-modal" id="modal_header_footeredit">
                  <div class="uk-modal-dialog">
                      <div class="uk-modal-header">
                          <h3 class="uk-modal-title">Edit <%= pageTitle%></h3>
                      </div>
                      <form action="/admin/pengguna/edit" method="post">
                          <div class="md-card-content">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium">
                                      <div class="uk-form-row">
                                          <div class="uk-grid">
                                              <div class="uk-width-medium-1-2">
                                                  <label>NIK</label>
                                                  <input name='nik_edit' id='nik_edit' class="md-input label-fixed nik_edit" disabled  />
                                                  <input name='nik_edit2' id='nik_edit2' type="hidden" class="md-input label-fixed nik_edit"/>

                                              </div>

                                              <div class="uk-width-medium-1-2">
                                                  <label>Nama</label>
                                                  <input name='nama_edit' id= "nama_edit" type="text" class="md-input label-fixed nama_edit" required/>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="uk-form-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label>Username</label>
                                                <input name='username_edit' id='username_edit' type="text" class="md-input label-fixed username_edit" required />
                                            </div>
                                            <!-- <div class="uk-width-medium-1-2">
                                                <label>Password</label>
                                                <input id='password_edit' name= 'password' type="password" class="md-input label-fixed" required />
                                            </div> -->
                                        </div>
                                      </div>

                                      <div class="uk-form-row">
                                        <div class="uk-grid">
                                          <div class="uk-width-medium-1-2">
                                              <!-- <label>Peran</label> -->
                                              <!-- <input id='peran' name='peran' type="text" class="md-input" class="data-md-selectize"  /> -->
                                              <div class="" style="index-z:10;">
                                                <select id='peran_edit'  name='peran_edit' class="md-input label-fixed peran_edit" required >
                                                    <option value="">Peran... </option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Pengguna">Anggota</option>
                                                    <option value="Fasilitator">Fasilitator</option>
                                                </select>
                                              </div>
                                          </div>

                                          <div class="uk-width-medium-1-2">
                                              <label>Poin Meja</label>
                                              <input name='poin_meja_edit' id='poin_meja_edit' type="number" class="md-input label-fixed poin_meja_edit" required />
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1">
                                      <div class="uk-input-group">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <div class="uk-modal-footer uk-text-right">
                          <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                          <button type="submit" class="md-btn md-btn-flat md-btn-flat-primary">Save</button>
                      </div>
                  </form>
                  </div>
              </div>

    </div>
</div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <%- include('../include_admin/datatables'); %>
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
            $('#dt_default').on( 'click', '.edit', function () {
                var pengguna_nik = $(this).data('nik');
                var pengguna_username = $(this).data('username');
                var pengguna_nama = $(this).data('nama');
                // var pengguna_password = $(this).data('password');
                var pengguna_peran = $(this).data('peran');
                var pengguna_poinmeja = $(this).data('poinmeja');
                $('.edit').attr('data-uk-modal', "{target:'#modal_header_footeredit'}");
                $('.nik_edit').val(pengguna_nik);
                $('.nik_edit2').val(pengguna_nik);
                $('.username_edit').val(pengguna_username);
                $('.nama_edit').val(pengguna_nama);
                // $('#password_edit').val(pengguna_password);
                $('.peran_edit').val(pengguna_peran);
                $('.poin_meja_edit').val(pengguna_poinmeja);
            } );
        });
    </script>


</body>
</html>
