<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>

</head>
<body class=" top_menu">
    <!-- main header -->
    <%- include('header'); %>

<!-- main header end -->

    <!-- main sidebar -->
    <%- include('top_bar'); %>


    <div id="page_content">

        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <!-- <div class="heading_actions">
                <a href="#" data-uk-tooltip="{pos:'bottom'}" title="Archive"><i class="md-icon material-icons">&#xE149;</i></a>
                <a href="#" data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a>
                <div data-uk-dropdown>
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Other Action</a></li>
                            <li><a href="#">Other Action</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <h1> <%=pageTitle%> </h1>
            <span class="uk-text-upper uk-text-small"><a href="/fasilitator/tindaklanjut/meja">Bukti Temuan</a> / <a href="#"> <%= rooms.penilaian_meja.meja.pengguna.nama %></a></span>
        </div>

        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-medium-2-5">
                          <h2>BUKTI TEMUAN</h2>
                          <br>
                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Deskripsi Penemu </h2>
                                <%= rooms.deskripsi_sebelum %>
                            </div>
                            <% if (rooms.fotosebelum !== null) {%>

                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Foto </h2>
                                <a href="/<%= rooms.fotosebelum%>" data-uk-lightbox="{group:'gallery'}">
                                    <img class="img_thumb" src="/<%= rooms.fotosebelum %>" alt="">
                                </a>

                            </div>
                            <% } %>

                        </div>
                        <div class="uk-width-medium-2-5">
                          <h2>TINDAK LANJUT</h2>

                          <% if (rooms.tinjak_lanjut !== 2) {%>

                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Deskripsi Pemilik Meja </h2>
                                <%= rooms.deskripsi_sesudah %>
                            </div>
                            <% if (rooms.fotosesudah !== null) {%>

                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Foto </h2>
                                <a href="/<%= rooms.fotosesudah%>" data-uk-lightbox="{group:'gallery'}">
                                    <img class="img_thumb" src="/<%= rooms.fotosesudah %>" alt="">
                                </a>

                            </div>
                            <% } %>

                            <% } %>


                        </div>
                        <div class="uk-width-medium-1-5">
                            <div class="uk-margin-medium-bottom">
                                <p>
                                    Deadline:
                                    <span class="uk-badge uk-badge-danger uk-text-upper uk-margin-small-left">  <%= rooms.deadline  %></span>
                                </p>
                                <p>
                                    Status:
                                    <% if ( rooms.tinjak_lanjut === 2 ) {%>

                                    <span class="uk-badge uk-badge-warning uk-text-upper uk-margin-small-left">Belum Tinjak Lanjut</span>
                                    <% } else if ( rooms.tinjak_lanjut === 1 ) {  %>
                                      <span class="uk-badge uk-badge-success uk-text-upper uk-margin-small-left">Sudah Tinjak Lanjut</span>

                                    <% } else if ( rooms.tinjak_lanjut === 3 ) { %>
                                    <td><span class="uk-badge uk-badge-default uk-text-upper uk-margin-small-left">Ditindaklanjuti Melewati Deadline</span></td>
                                    <% }  %>
                                </p>
                            </div>
                            <h2 class="heading_c uk-margin-small-bottom">Details</h2>
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_02_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading"><%= rooms.penilaian_meja.meja.pengguna.nama%> </span>
                                        <span class="uk-text-small uk-text-muted">Pemilik Meja</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/assets/img/avatars/avatar_02_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading"><%= rooms.penilaian_meja.jadwal_piket.nik_pic_piket.nama %></span>
                                        <span class="uk-text-small uk-text-muted">Penemu</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading"><%= rooms.penilaian_meja.jadwal_piket.tanggal%></span>
                                        <span class="uk-text-small uk-text-muted">Jadwal Piket</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <% if ( rooms.tinjak_lanjut === 2 ) {%>

            <div class="md-card">
                <div class="md-card-content">
                  <h2>Tindak Lanjuti</h2>
                  <form class="" action="/fasilitator/tindaklanjut/bukti" method="post" enctype="multipart/form-data">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                              <br>
                              <br>
                              <div class="uk-input-group" >
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-pencil"></i></span>
                                  <label>Deskripsi</label>
                                  <input id='deskripsi' name='deskripsi' type="text" class="md-input label-fixed" required />
                              </div>
                            </div>

                            <div class="uk-width-medium-1-2">
                                <div class="md-card">
                                    <div class="md-card-content">
                                      <span class="uk-text-small uk-text-muted"> Hanya bisa upload file berekstensi .jpg/.jpeg/.png </span>
                                        <input type="file" name="image" id="input-file-a" class="dropify" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-5">
                            </div>

                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
                                        <input type="hidden" name="buktiId" value="<%= rooms.id%>">
                                        <button class="md-btn md-btn-success" type="submit" name="button">Save</button>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
              </div>
            </div>

            <% } %>



        </div>
    </div>



    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- tablesorter -->
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>

    <!--  issues list functions -->
    <script src="/assets/js/pages/pages_issues.min.js"></script>
    <!-- <script src="/assets/js/pages/page_contact_list.min.js"></script> -->
    <script src="/assets/js/pages/forms_file_input.min.js"></script>
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>

    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>


</body>
</html>
