<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>


</head>
<body class=" top_menu">
    <!-- main header -->
      <%- include('header'); %>
      <!-- main header end -->

    <!-- main sidebar -->
        <%- include('top_bar'); %>



    <div id="page_content">

        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <!-- <div class="heading_actions">
                <a href="#" data-uk-tooltip="{pos:'bottom'}" title="Archive"><i class="md-icon material-icons">&#xE149;</i></a>
                <a href="#" data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a>
                <div data-uk-dropdown>
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Other Action</a></li>
                            <li><a href="#">Other Action</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <h1> <%=pageTitle%> </h1>
            <span class="uk-text-upper uk-text-small"><a href="/anggota/checklistpiket/detail/<%=piketId %>">Checklist Piket</a> </span>

        </div>

        <% if (path === '/checklistruangada') {%>
        <div id="page_content_inner">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_issues">
                            <thead>
                                <tr>
                                    <!-- <th class="uk-text-center">Key</th> -->
                                    <th>Nama Ruang</th>
                                    <th>Standar</th>
                                    <th>status Check</th>
                                    <!-- <th>Level</th> -->
                                    <!-- <th>Priority</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Status</th> -->
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nama Ruang</th>
                                    <th>Standar</th>
                                    <th>Status Check</th>
                                    <!-- <th>Level</th> -->
                                </tr>
                            </tfoot>
                            <tbody>

                              <% rooms.forEach((room) => { %>
                            <tr>

                                <td> <a href="/anggota/checklistruang/detail/<%= room.id%>"><%= room.ruang.nama_ruang%></a>  </td>
                                <td><%= room.ruang.standar%></td>
                                <% if (room.persetujuanpicpiket === '1') { %>
                                  <td> <i href="#" class="uk-icon-large uk-icon-check-circle uk-text-success"></i></td>
                                <% } else { %>
                                  <td> <i href="#" class="uk-icon-large uk-icon-times-circle uk-text-danger"></i></td>
                                <% } %>

                              <% }) %>

                            </tbody>
                        </table>
                    </div>
                    <ul class="uk-pagination ts_pager">
                        <li data-uk-tooltip title="Select Page">
                            <select class="ts_gotoPage ts_selectize"></select>
                        </li>
                        <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pagedisplay"></span></li>
                        <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                        <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="Page Size">
                            <select class="pagesize ts_selectize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% } %>

    </div>


    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- tablesorter -->
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>

    <!--  issues list functions -->
    <script src="/assets/js/pages/pages_issues.min.js"></script>

    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>


</body>
</html>
