<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>

    <%- include('head'); %>

</head>
<body class=" top_menu ">
    <!-- main header -->

      <%- include('header'); %>
      <!-- main header end -->

    <!-- main sidebar -->
        <%- include('top_bar'); %>



    <div id="page_content">

        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">

            <h1> <%=pageTitle%> </h1>
            <span class="uk-text-upper uk-text-small"><a href="/anggota/checklistpiket/detail/<%=piketId %>">Checklist Piket</a> </span>
        </div>

        <% if (path === '/checklistmejaada') {%>
        <div id="page_content_inner">
            <div class="md-card">

                  <div class="md-card uk-margin-medium-bottom">
                      <div class="md-card-content">
                          <div class="uk-grid" data-uk-grid-margin>
                              <div class="uk-width-medium-1-2">
                                  <div class="uk-vertical-align">
                                      <div class="uk-vertical-align-middle">
                                          <ul id="contact_list_filter" class="uk-subnav uk-subnav-pill uk-margin-remove">
                                              <li class="uk-active" data-uk-filter=""><a href="#">All</a></li>
                                              <li data-uk-filter="1"><a href="#">Sudah Check  </a></li>
                                              <li data-uk-filter="2"><a href="#">Belum Check </a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5 hierarchical_show" id="contact_list">
                    <% tables.forEach((table) => { %>
                      <div data-uk-filter="<%= table.persetujuanpicpiket %>">
                          <div class="md-card md-card-hover">
                              <div class="md-card-head">
                                  <div class="uk-text-center">
                                      <img class="md-card-head-avatar" src="/assets/img/avatars/user.png" alt=""/>
                                  </div>
                                  <h3 class="md-card-head-text uk-text-center">
                                      <%= table.meja.pengguna.nama %>
                                      <span class="uk-text-truncate">Level <%= table.meja.pengguna.level %></span>
                                  </h3>
                              </div>
                              <div class="md-card-content">
                                  <ul class="md-list">
                                      <li>
                                          <div class="md-list-content">
                                              <span class="md-list-heading">Standar</span>
                                              <span class="uk-text-small uk-text-muted"><%= table.meja.standar%></span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="md-list-content">
                                              <span class="md-list-heading">Check</span>
                                              <h3 class="uk-text-center">
                                                <% if (table.persetujuanpicpiket === '1') { %>
                                                <i href="#" class="uk-icon-large uk-icon-check-circle uk-text-success"></i>
                                                <% } else { %>
                                                <i href="#" class="uk-icon-large uk-icon-times-circle uk-text-danger"></i>
                                                <% } %>

                                              </h3>
                                          </div>
                                      </li>
                                      <li>
                                        <div class="md-list-content">
                                          <span class="md-list-heading">Lakukan Check</span>
                                          <div class="uk-text-center">
                                            <br>
                                              <a class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light" href="/anggota/checklistmeja/detail/<%= table.id%>">CHECK</a>
                                          </div>
                                        </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <% }) %>






              </div>

            </div>
        </div>
        <% } %>

    </div>


    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- tablesorter -->
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>

    <!--  issues list functions -->
    <script src="/assets/js/pages/pages_issues.min.js"></script>
    <script src="/assets/js/pages/page_contact_list.min.js"></script>


    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>


</body>
</html>
