<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>

  <style>
    html, body {
        height: 100%;
    }
    .half {
        height: 50%;
    }

    .full {
        height: 100%;
    }
</style>

</head>
<body class="  top_menu">
    <!-- main header -->
    <%- include('header'); %>

  <div class="md-bg-grey-800" id="top_bar">
      <%- include('top_bar'); %>
  </div>

  <div class="uk-section md-bg-grey-800">

    <% if (error_messages) { %>
        <div class="uk-alert uk-alert-danger" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            <%= error_messages %>
        </div>
    <% } %>
    <% if (success_messages) { %>
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="#" class="uk-alert-close uk-close"></a>
            <%= success_messages %>
        </div>
    <% } %>
    <div id="page_content">
      <div id="page_content_inner">

        <div class=" ">
          <br>
              <h1 class="uk-text-center uk-margin-remove uk-text-lead uk-text-bolder md-color-light-green-400" >Meja Ter-SO GOOD Bulan <%= monthMinusOneName%></h1>
              <% if (mejaTerbaik && mejaTerbaik.bobotmeja !== 'undefined' ) {%>
                <br>
                <!-- <div class="uk-grid"> -->
                    <div class=" md-card md-bg-light-green-200">
                      <div class="md-card-content uk-align-center">

                      <div class="uk-panel uk-text-center">
                        <div class="uk-grid">
                          <div class="uk-width-1-2">
                            <i href="" class="uk-align-center uk-icon-large uk-icon-button uk-icon-star md-bg-lime-A200"></i>
                            <h2 class="uk-text-middle  ">
                              <% if (mejaTerbaik.bobotmeja >= 4.5 ) {%>
                               Consistent Star
                              <% }else if (mejaTerbaik.bobotmeja >= 4){%>
                               Future Star
                              <% }else if (mejaTerbaik.bobotmeja >= 3.5 ){%>
                               Utility Hi-Pro
                              <% }else if (mejaTerbaik.bobotmeja >= 3){%>
                               Contributor
                              <% }else if (mejaTerbaik.bobotmeja < 3){%>
                               Iceberg
                              <% }%>
                            </h2>

                            <h2 class="uk-text-middle uk-margin-remove uk-text-center  "> <%= mejaTerbaik.bobotmeja %> </h2>

                          </div>
                          <div class="uk-width-1-2">
                            <h1 class="uk-text-middle  uk-text-center  ">Level <%= mejaTerbaik.meja.pengguna.level %></h1>
                            <h2 class="uk-text-middle  uk-text-center  "><%= mejaTerbaik.meja.pengguna.nama %>   </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                      <!-- </div> -->
                    <!-- </div> -->
                </div>
                <% }else { %>
                  <div class="md-bg-light-green-200">
                    <br>
                    <h3 class="uk-text-middle uk-margin-remove uk-text-center  ">
                        belum ada
                    </h3>
                    <br>
                  </div>
                <% } %>
        </div>
        <div class=" ">
          <br>
          <h1 class="uk-text-center uk-margin-remove uk-text-lead uk-text-bolder md-color-light-green-400 ">Lantai Ter-SO GOOD Bulan <%= monthMinusOneName%></h1>
          <br>
          <div class="">
            <div class="uk-grid" data-uk-grid-margin>
              <div class="uk-width-large-1">
                <div class="md-card md-bg-light-green-200">
                  <div class="md-card-content uk-align-center">
                    <!-- <h2 class="uk-text-center uk-margin-bottom">Nilai Lantai 1</h2> -->
                          <div class="">
                            <div class="uk-panel uk-text-center">
                              <!-- <h2 class="uk-text-center">Level  %></h2> -->
                              <div class="uk-grid">
                                <div class="uk-width-1-2">
                                  <i href="" class="uk-align-center uk-icon-large uk-icon-button uk-icon-star md-bg-lime-A200"></i>
                                  <% if (lantaiTerbaik[0] >= 900 ) {%>
                                      <h2> Consistent Star </h2>
                                  <% }else if (lantaiTerbaik[0] >= 800){%>
                                    <h2> Future Star </h2>
                                  <% }else if (lantaiTerbaik[0] >= 600 ){%>
                                    <h2> Utility Hi-Pro </h2>
                                  <% }else if (lantaiTerbaik[0] >= 400){%>
                                    <h2> Contributor </h2>
                                  <% }else if (lantaiTerbaik[0] < 400){%>
                                    <h2> Iceberg </h2>
                                  <% }%>

                                  <h2 class="uk-margin-remove"><span> <%= lantaiTerbaik[0] %> </h2>
                                </div>
                                <div class="uk-width-1-2">
                                  <h1 class="uk-margin-remove"><span> Level <%= lantaiTerbaik[1] %> </h1>
                                </div>
                              </div>
                            </div>
                      </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class=" uk-section-default ">
              <div class="uk-text-center">
               <br>
                  <h1 class="uk-margin-remove uk-text-lead uk-text-bolder md-color-light-green-400 " >Piket Hari Ini</h1>
                  <br>

                  <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler " data-uk-sortable data-uk-grid-margin>
                    <% if(schedules.length != 0) { %>
                      <% schedules.forEach((schedule) => { %>
                      <div>
                          <div class="md-card  md-bg-light-green-200">
                              <div class="md-card-content">
                                  <h2  class="uk-margin-remove"><span class="">Lantai <%= schedule.nik_pic_piket.level %></span></h2>
                                  <h4 class="uk-margin-remove"><span>PIC Piket : <%= schedule.nik_pic_piket.nama %> </h4>
                                  <h4 class="uk-margin-remove"><span>Fasilitator : <%= schedule.nik_pic_fasil.nama %> </h4>
                                  <h4 class="uk-margin-remove" >  <span>Status piket :</span>
                                  <% if (schedule.status_piket === 0) { %>
                                    <span class="uk-badge uk-badge-danger">Belum Piket</span>
                                    <% } else if (schedule.status_piket === 1) { %>
                                    <span class="uk-badge uk-badge-success">Sudah Piket</span>
                                  <% } else { %>
                                    <span class="uk-badge uk-badge-info">Sudah Piket tapi Melewati Jadwal</span>
                                  <% } %>
                                  </h4>
                                  <h4 class="uk-margin-remove" >  <span>Status fasil :</span>
                                    <% if (schedule.persetujuan_fasil === 0) {%>
                                    <span class="uk-badge uk-badge-warning uk-text-upper uk-margin-small-left">Belum Approved</span>
                                    <% } else {%>
                                    <span class="uk-badge uk-badge-success uk-text-upper uk-margin-small-left">Sudah Approved</span>
                                    <% } %>
                                  </h4>
                              </div>
                          </div>
                      </div>
                    <% }) %>
                  <%} else { %>
                    <div>
                        <div class="md-card  md-bg-light-green-200">
                            <div class="md-card-content">
                                <h2  class="uk-margin-remove">  <span class="">Lantai 1</span></h2>
                                <h4 class="uk-margin-remove"><span>Tidak ada piket%> </h4>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="md-card  md-bg-light-green-200">
                            <div class="md-card-content">
                                <h2 class="uk-margin-remove" > <span class="">Lantai 2</span></h2>
                                <h4 class="uk-margin-remove"><span>Tidak ada piket%> </h4>
                            </div>
                        </div>
                    </div>

                  <%} %>
                  </div>
          </div>
          <br>
      </div>
      <div class=" ">
        <br>
            <h1 class="uk-text-center uk-margin-remove uk-text-lead uk-text-bolder md-color-light-green-400" >Galeri</h1>
            <br>
      </div>


      <div class=" md-bg-grey-800">
        <div class="md-card-content">
          <div class="gallery_grid uk-grid-width-medium-1-4 uk-grid-width-large-1-5" data-uk-grid="{gutter: 16}">
            <% articles.forEach((article) => { %>
                  <div>
                      <div class="md-card md-card-hover">
                          <div class="gallery_grid_item md-card-content" >
                            <div class="" style="  height: 200px;width: 100%;overflow:hidden">
                              <a href="/<%= article.foto_Artikel%>" data-uk-lightbox="{group:'gallery'}">
                                  <img style="background-size: 300px 100px;" src="/<%= article.foto_Artikel%>" alt="">
                              </a>
                            </div>
                              <div class="gallery_grid_image_caption" style="  height: 90px;">
                                  <span class="gallery_image_title"><%= article.judul%></span>
                                  <br>
                                  <span class="uk-text-muted uk-text-truncate uk-text-small uk-float-right"><%= article.pembuat%></span>
                              </div>
                          </div>
                          <div class="blog_list_footer">
                              <a id="read" href="/anggota/artikel/<%= article.id%>" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right">Read more</a>
                              <div class="uk-modal" id="modal_artikel">
                                  <div class="uk-modal-dialog ">
                                      <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
                                      <div class="uk-overflow-container">
                                      <h2 id="judul" class="heading_b"><%= article.judul%></h2>
                                      <img id="gambar" src="/<%= article.foto_Artikel%>" alt=""/>
                                      <p id="konten"><%= article.konten%></p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <%  }) %>
                </div>
                <li>
                  <div class="md-list-content">
                        <span class="md-list-heading uk-float-right  "><a class="md-color-light-green-400" href="/anggota/artikel/?page=1">lihat galeri lama</a></span>
                  </div>
                </li>
        </div>
      </div>

      </div>


  </div>



        </div>
    </div>
  </div>



    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>


    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>



</body>
</html>
