<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <%- include('head'); %>

    <!-- additional styles for plugins -->
    <!-- metrics graphics (charts) -->

    <!-- chartist -->

      <link rel="stylesheet" href="/bower_components/metrics-graphics/dist/metricsgraphics.css">
      <!-- c3.js (charts) -->
      <link rel="stylesheet" href="/bower_components/c3js-chart/c3.min.css">
      <!-- chartist -->
      <link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css">

      <!-- uikit -->
      <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

      <!-- flag icons -->
      <link rel="stylesheet" href="/assets/icons/flags/flags.min.css" media="all">

      <!-- altair admin -->
      <link rel="stylesheet" href="/assets/css/main.min.css" media="all">


</head>
<body class="top_menu md-bg-grey-200">
    <!-- main header -->
    <%- include('header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('top_bar'); %>

    <!-- main sidebar end -->
    <div id="page_content">
      <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
          <h1> <%=pageTitle%> </h1>
      </div>
        <div id="page_content_inner">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">

                        <div class="uk-width-medium-3-10">
                          <form class="uk-form-stacked" action="/anggota/rekapitulasi/meja/filter-bulanan" method="POST">
                            <label for="kUI_datepicker_b" class="uk-form-label">Bulanan</label>
                            <input name="tanggal" id="kUI_datepicker_b" value="" />
                            <!-- <div class="uk-width-medium-8-10 uk-text-center"> -->
                                <button type="submit" class="md-btn md-btn-primary uk-margin-small-top">Filter</button>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <!-- </div> -->
                          </form>
                        </div>

                </div>
            </div>
        </div>

        <% if (path === '/bulanan') {%>

          <div class="uk-grid uk-grid-width-large-1 uk-grid-width-medium-1 uk-grid-medium"  data-uk-grid-margin >
              <div class="">
                <div class="md-card">
                  <div class="md-card-content uk-align-center">
                    <h2 class="uk-text-center uk-margin-bottom"> Keterangan Hasil Penilaian Meja </h2>
                    <hv>
                      <h3 class="uk-text-center">
                    	>= 4.5 Consistent Star
                      <br>
                    	>= 4 Future Star
                      <br>
                    	>= 3.5 Utility Hi-Pro
                      <br>
                    	>= 3 Contributor
                      <br>
                    	< 3 Iceberg
                      <br>
                      </h3>
                  </div>

                </div>
              </div>


              <div class="md-card">
                <div class="md-card-content">
                  <h2> <%= bulan  %>  </h2>
                  <div class="uk-width-large-1" >
                      <div class="md-card"  >
                          <div class="md-card-content" >
                              <h4 class="heading_c uk-margin-bottom">Gabungan</h4>
                              <!-- <div style="overflow-x: scroll;"> -->
                                <!-- <div style="width:400vh; height:500px;"  id="chartist_meja_lines_bulanan" class="chartist"></div> -->
                                <%if (rooms1.length > 0 ) {%>

                                <div id="meja_bulanan" class="c3chart"></div>
                                <% }else{ %>
                                  <h3 class="uk-text-middle  uk-text-center  ">
                                      belum ada
                                  </h3>
                                  <% } %>

                              <!-- </div> -->
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="uk-grid" data-uk-grid-margin>
                  <div class="uk-width-large-1-2">
                      <div class="md-card">
                          <div class="md-card-content">
                              <h4 class="heading_c uk-margin-bottom">Level 1</h4>
                              <!-- <div id="chartist_meja1_lines_bulanan" class="chartist"></div> -->
                              <%if (rooms1.length > 0 ) {%>

                              <div id="meja_bulanan1" class="c3chart"></div>
                              <% }else{ %>
                                <h3 class="uk-text-middle  uk-text-center  ">
                                    belum ada
                                </h3>
                                <% } %>
                          </div>
                      </div>
                  </div>

                  <div class="uk-width-large-1-2">
                      <div class="md-card">
                          <div class="md-card-content">
                              <h4 class="heading_c uk-margin-bottom">Level 2</h4>
                              <%if (rooms1.length > 0 ) {%>

                              <!-- <div id="chartist_meja2_lines_bulanan" class="chartist"></div> -->
                              <div id="meja_bulanan2" class="c3chart"></div>
                              <% }else{ %>
                                <h3 class="uk-text-middle  uk-text-center  ">
                                    belum ada
                                </h3>
                                <% } %>


                          </div>
                      </div>
                  </div>
                </div>
              </div>

              </div>
              <% }%>



          </div>

          <!-- google web fonts -->
          <script>
              WebFontConfig = {
                  google: {
                      families: [
                          'Source+Code+Pro:400,700:latin',
                          'Roboto:400,300,500,700,400italic:latin'
                      ]
                  }
              };
              (function() {
                  var wf = document.createElement('script');
                  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                  wf.type = 'text/javascript';
                  wf.async = 'true';
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(wf, s);
              })();
          </script>

          <!-- common functions -->
          <script src="/assets/js/common.min.js"></script>
          <!-- uikit functions -->
          <script src="/assets/js/uikit_custom.min.js"></script>
          <!-- altair common functions/helpers -->
          <script src="/assets/js/altair_admin_common.min.js"></script>

          <script src="/assets/js/kendoui_custom.min.js"></script>

          <!--  kendoui functions -->
          <script src="/assets/js/pages/kendoui.min.js"></script>

          <script src="/bower_components/d3/d3.min.js"></script>
          <!-- metrics graphics (charts) -->
          <script src="/bower_components/metrics-graphics/dist/metricsgraphics.min.js"></script>
          <!-- c3.js (charts) -->
          <script src="/bower_components/c3js-chart/c3.min.js"></script>
          <!-- chartist -->
          <script src="/bower_components/chartist/dist/chartist.min.js"></script>

          <script type="text/javascript">

          $(function() {

              // chartist
              // altair_charts.ruang_charts();
              altair_charts.c3js();

          });

          altair_charts = {

            ruang_charts: function() {

              var responsiveOptions = [
                  ['screen and (min-width: 641px) and (max-width: 1024px)', {
                    showPoint: false,
                    fullHeight: true,
                    fullWidth: true,
                    chartPadding: {
                        right: 40
                    },
                    axisX: {
                      labelInterpolationFnc: function(value) {
                        // Will return Mon, Tue, Wed etc. on medium screens
                        return value.slice(0, 3);
                      }
                    }
                  }],
                  ['screen and (max-width: 640px)', {
                    fullHeight: true,
                    showLine: false,
                    fullWidth: true,
                    chartPadding: {
                        right: 40
                    },
                    axisX: {
                      labelInterpolationFnc: function(value) {
                        // Will return M, T, W etc. on small screens
                        return value[0];
                      }
                    }
                  }]
                ];

                // simple lines

                new Chartist.Line('#chartist_meja_lines_bulanan', {
                  labels: [  <% rooms1.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>
                              <% rooms2.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],

                    // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                    series: [
                        [<% rooms1.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>
                      <% rooms2.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                    ]
                }, responsiveOptions );


                new Chartist.Line('#chartist_meja1_lines_bulanan', {
                  labels: [  <% rooms1.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],

                    // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                    series: [
                        [<% rooms1.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                    ]
                }, responsiveOptions);

                new Chartist.Line('#chartist_meja2_lines_bulanan', {
                  labels: [  <% rooms2.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],

                    // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                    series: [
                        [<% rooms2.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                    ]
                }, responsiveOptions);

                chart.on('draw', function(context) {
                if(context.type === 'line') {
                  context.element.attr({
                    style: 'stroke: hsl(' + Math.floor(Chartist.getMultiValue(context.value) / max * 100) + ', 50%, 50%);'
                  });
                }
              });

            },

            c3js: function() {

              var meja_bulanan = '#meja_bulanan';

              if ( $(meja_bulanan).length ) {

                  var c3chart_mejabulana = c3.generate({
                      bindto: meja_bulanan,
                      padding: {
                          top: 40,
                          bottom: 40,
                      },
                      data: {
                          x : 'x',
                          columns: [
                              ['Pengguna', <% rooms1.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %> <% rooms2.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                              ['x', <% rooms1.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %> <% rooms2.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],
                          ]
                      },
                      axis: {
                          x: {
                              label: 'Meja',
                              type: 'category',
                              position: 'outer-center',
                          },
                          y:{
                            label: 'Akumulasi nilai',
                            position: 'outer-center',
                            max:5,
                            min:1
                          }
                      },
                      zoom: {
                          enabled: true
                      },
                      color: {
                          pattern: ['#5E35B1', '#FB8C00']
                      }
                  });

                  $window.on('debouncedresize', function () {
                      c3chart_mejabulana.resize();
                  });

              }

                var meja_bulanan1 = '#meja_bulanan1';

                if ( $(meja_bulanan1).length ) {

                    var c3chart_mejabulanan = c3.generate({
                        bindto: meja_bulanan1,
                        padding: {
                            top: 40,
                            bottom: 40,
                        },
                        data: {
                            x : 'x',
                            columns: [
                                ['Level 1', <% rooms1.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                                ['x', <% rooms1.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],
                            ]
                        },
                        axis: {
                            x: {
                                label: 'meja',
                                type: 'category',
                                position: 'outer-center',
                            },
                            y:{
                              label: 'Akumulasi nilai',
                              position: 'outer-center',
                              max:5,
                              min:1
                            }
                        },
                        color: {
                            pattern: ['#5E35B1', '#FB8C00']
                        }
                    });

                    $window.on('debouncedresize', function () {
                        c3chart_mejabulanan.resize();
                    });

                }

                var meja_bulanan2 = '#meja_bulanan2';

                if ( $(meja_bulanan2).length ) {

                    var c3chart_mejabulanan2 = c3.generate({
                        bindto: meja_bulanan2,
                        padding: {
                            top: 40,
                            bottom: 40,
                        },
                        data: {
                            x : 'x',
                            columns: [
                                ['Level 2', <% rooms2.forEach((room) => { %>'<%=  room.bobotmeja %>',<% }) %>],
                                ['x', <% rooms2.forEach((room) => { %>'<%=  room.meja.pengguna.nama %>',<% }) %>],
                            ]
                        },
                        axis: {
                            x: {
                                label: 'meja',
                                type: 'category',
                                position: 'outer-center',
                            },
                            y:{
                              label: 'Akumulasi nilai',
                              position: 'outer-center',
                              max:5,
                              min:1
                            }
                        },
                        color: {
                            pattern: ['#FB8C00', '#FB8C00']
                        }
                    });

                    $window.on('debouncedresize', function () {
                        c3chart_mejabulanan2.resize();
                    });
                }
            },
          };


          </script>




    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });


    </script>


</body>
</html>
