<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>

    <!-- additional styles for plugins -->
    <!-- metrics graphics (charts) -->
    <link rel="stylesheet" href="/bower_components/metrics-graphics/dist/metricsgraphics.css">
    <!-- c3.js (charts) -->
    <link rel="stylesheet" href="/bower_components/c3js-chart/c3.min.css">
    <!-- chartist -->
    <link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css">


</head>
<body class="top_menu md-bg-grey-200">
    <!-- main header -->
    <%- include('header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('top_bar'); %>

    <!-- main sidebar end -->
    <div id="page_content">
        <div id="page_content_inner">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-3-10 ">
                          <form class="uk-form-stacked" action="/anggota/rekapitulasi/ruang/filter-mingguan" method="POST">
                            <label for="kUI_datepicker_a" class="uk-form-label">Mingguan</label>
                            <input name="tanggal" id="kUI_datepicker_a" value="" />
                            <!-- <div class="uk-width-medium-8-10 uk-text-center"> -->
                                <button type="submit" class="md-btn md-btn-primary uk-margin-small-top">Filter</button>
                                <p class="uk-text-muted">Pilih tanggal yang mewakili minggu tersebut</p>

                            <!-- </div> -->
                          </form>
                        </div>
                        <div class="uk-width-medium-3-10">
                          <form class="uk-form-stacked" action="/anggota/rekapitulasi/ruang/filter-bulanan" method="POST">
                            <label for="kUI_datepicker_b" class="uk-form-label">Bulanan</label>
                            <input name="tanggal" id="kUI_datepicker_b" value="" />
                            <!-- <div class="uk-width-medium-8-10 uk-text-center"> -->
                                <button type="submit" class="md-btn md-btn-primary uk-margin-small-top">Filter</button>
                            <!-- </div> -->
                          </form>
                        </div>
                        <div class="uk-width-medium-3-10 ">
                          <form class="uk-form-stacked" action="/anggota/rekapitulasi/ruang/filter-tahunan" method="POST">
                            <label for="kUI_datepicker_c" class="uk-form-label">Tahunan</label>
                            <input name="tanggal" id="kUI_datepicker_c" value="" />
                            <!-- <div class="uk-width-medium-8-10 uk-text-center"> -->
                                <button type="submit" class="md-btn md-btn-primary uk-margin-small-top">Filter</button>
                            <!-- </div> -->
                          </form>
                        </div>
                </div>
            </div>
        </div>


        <% if (path === '/mingguan') {%>
        <div class="md-card">
          <div class="md-card-content">
            <h2> <%= monday  %> sampai dengan <%= friday%> </h2>

            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 1</h4>
                      <div style="overflow-x: scroll;">
                        <div style="width:400vh; height:500px;" id="chartist_ruang1_lines" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>

            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 2</h4>
                      <div style="overflow-x: scroll;">

                        <div style="width:400vh; height:500px;" id="chartist_ruang2_lines" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
        <% }%>

        <% if (path === '/bulanan') {%>

          <div class="uk-grid uk-grid-width-large-1 uk-grid-width-medium-1 uk-grid-medium"  data-uk-grid-margin >
              <div class="">
                <div class="md-card">
                  <div class="md-card-content uk-align-center">
                    <h2 class="uk-text-center uk-margin-bottom"> Keterangan Hasil Penilaian Ruang </h2>
                    <hv>

                      <h3 class="uk-text-center">
                    	>= 1000 Consistent Star
                      <br>
                    	>= 800 Future Star
                      <br>
                    	>= 600 Utility Hi-Pro
                      <br>
                    	>= 400 Contributor
                      <br>
                    	< 400 Iceberg
                      <br>

                      </h3>
                  </div>

                </div>
              </div>



              <div>
                <div class="md-card">
                  <div class="md-card-content uk-align-center">
                    <h2 class="uk-text-center uk-margin-bottom">Nilai Tertinggi</h2>
                    <% if (lantaiTerbaik[0]) {%>

                          <div class="">
                            <div class="uk-panel">
                              <h2 class="uk-text-center">Level <%= lantaiTerbaik[1] %></h2>
                                <i href="" class="uk-align-center uk-icon-large uk-icon-button uk-icon-star md-bg-lime-A200"></i>
                                <% if (lantaiTerbaik[0] >= 4.5 ) {%>
                                  <h3 class="uk-text-center"> Consistent Star </h3>
                                <% }else if (lantaiTerbaik[0] >= 4){%>
                                  <h3 class="uk-text-center"> Future Star </h3>
                                <% }else if (lantaiTerbaik[0] >= 3.5 ){%>
                                  <h3 class="uk-text-center"> Utility Hi-Pro </h3>

                                <% }else if (lantaiTerbaik[0] >= 3){%>
                                  <h3 class="uk-text-center"> Contributor </h3>

                                <% }else if (lantaiTerbaik[0] < 3){%>
                                  <h3 class="uk-text-center"> Iceberg </h3>
                                <% }%>

                                <h2 class=" uk-text-center uk-text-bold"> <%= lantaiTerbaik[0] %> </h2>
                            </div>


                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>

        <div class="md-card">
          <div class="md-card-content">
            <h2> <%= bulan  %>  </h2>



            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 1</h4>
                      <div style="overflow-x: scroll;">
                        <div style="width:400vh; height:500px;" id="chartist_ruang1_lines_bulanan" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>

            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 2</h4>
                      <div style="overflow-x: scroll;">

                        <div style="width:400vh; height:500px;" id="chartist_ruang2_lines_bulanan" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </div>



        <% }%>

        <% if (path === '/tahunan') {%>

        <div class="md-card">
          <div class="md-card-content">
            <h2> <%= tahun %> </h2>
          <%if (locals.rooms1 && rooms1 != 'undefined') {%>
            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 1</h4>
                      <div style="overflow-x: scroll;">

                        <div style="width:400vh; height:500px;" id="chartist_ruang1_lines_tahun" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>

          <%}%>

          <%if (locals.rooms2 && rooms1 != 'undefined') {%>

            <div class="uk-width-large-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">Level 2</h4>
                      <div style="overflow-x: scroll;">
                        <div style="width:400vh; height:500px;" id="chartist_ruang2_lines_tahun" class="chartist"></div>
                      </div>

                    </div>
                </div>
            </div>
            <%}%>


          </div>
        </div>
        <% }%>

    </div>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <script src="/assets/js/kendoui_custom.min.js"></script>

    <!--  kendoui functions -->
    <script src="/assets/js/pages/kendoui.min.js"></script>

    <!-- d3 -->
    <!-- metrics graphics (charts) -->
    <!-- chartist -->
    <script src="/bower_components/chartist/dist/chartist.min.js"></script>

    <script type="text/javascript">

    $(function() {

        // chartist
        altair_charts.ruang_charts();
    });

    altair_charts = {

      ruang_charts: function() {

        var responsiveOptions = [
            ['screen and (min-width: 641px) and (max-width: 1024px)', {
              showPoint: false,
              fullWidth: true,
              chartPadding: {
                  right: 40
              },
              axisX: {
                labelInterpolationFnc: function(value) {
                  // Will return Mon, Tue, Wed etc. on medium screens
                  return value.slice(0, 3);
                }
              }
            }],

            ['screen and (max-width: 640px)', {
              showLine: false,
              fullWidth: true,
              chartPadding: {
                  right: 40
              },
              axisX: {
                labelInterpolationFnc: function(value) {
                  // Will return M, T, W etc. on small screens
                  return value[0];
                }
              }
            }]
          ];
          // simple lines
          new Chartist.Line('#chartist_ruang1_lines', {
            labels: [  <% rooms1.forEach((room) => { %>'<%=  room.jadwal_piket.tanggal %>',<% }) %>],


              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms1.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, {
              fullWidth: true,
              chartPadding: {
                  right: 40
              }
          });

          new Chartist.Line('#chartist_ruang2_lines', {
            labels: [  <% rooms2.forEach((room) => { %>'<%=  room.jadwal_piket.tanggal %>',<% }) %>],

              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms2.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, {
              fullWidth: true,
              chartPadding: {
                  right: 40
              }
          });

          new Chartist.Line('#chartist_ruang1_lines_bulanan', {
            labels: [  <% rooms1.forEach((room) => { %>'<%=  room.jadwal_piket.tanggal %>',<% }) %>],

              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms1.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, {
              fullWidth: true,
              chartPadding: {
                  right: 40
              }
          });

          new Chartist.Line('#chartist_ruang2_lines_bulanan', {
            labels: [  <% rooms2.forEach((room) => { %>'<%=  room.jadwal_piket.tanggal %>',<% }) %>],

              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms2.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, {
              fullWidth: true,
              chartPadding: {
                  right: 40
              }
          });

          new Chartist.Line('#chartist_ruang1_lines_tahun', {
            labels: [  <% rooms1.forEach((room) => { %>'<%=  room.dataValues.bulan %>',<% }) %>],
            // labels: [  'Januari', 'Februari'],


              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms1.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, responsiveOptions);

          new Chartist.Line('#chartist_ruang2_lines_tahun', {
            labels: [  <% rooms2.forEach((room) => { %>'<%=  room.dataValues.bulan %>',<% }) %>],

              // labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: [
                  [<% rooms2.forEach((room) => { %>'<%=  room.bobotruang %>',<% }) %>],
              ]
          }, responsiveOptions);


      }


    };


    </script>




    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });


    </script>


</body>
</html>
